/* 初始化默认的格式*/
* {
    margin: 0; /* 外边距 */
    padding: 0; /* 内边距 */
    box-sizing: border-box; /* 设置 box 的格式为整体大小包含内外边距 */
    font-family: Roboto, "Segoe UI", "PingFang SC", sans-serif;
}

/* 设置主体和背景图片 */
body {
    background-color: #f0f0f0; /* 背景颜色 */
    line-height: 1.6; /* 设置行高 */
    text-align: center;  /* 文本居中 */

    background-image: url('../images/bg.jpg'); /* 设置背景图 */
    background-size: cover; /* 填满屏幕，可以剪切 */
    background-repeat: no-repeat; /* 不重复填充 */
    background-position: center center; /* 居中显示 */
    background-attachment: fixed; /* 页面滚动时背景固定 */
}

.hr {
    margin-top: 5px; /* hr */
}

/* 底部导航栏 */
footer {
    text-align: center; /* 文本居中 */
    padding: 20px; /* 内部间距 */
    background-color: #add8e6; /* 背景色 */
    color: white; /* 文本颜色 */
}

